<th:block th:replace="fragments :: header"></th:block>
<th:block th:insert="fragments::navbar"></th:block>

<main class="app-container narrow">
    <h1 class="display-1 text-center"><th:block th:insert="fragments :: brandLogo"></th:block></h1>
    <h1 class="h1 my-3 fw-bold text-center" th:insert="fragments :: appName"></h1>
    <div class="card my-2 shadow-lg">
        <h2 class="h3 card-header fw-bold text-center" th:text="${title}"></h2>
        <div class="card-body">
            <form method="post" th:object="${tag}">
                <div th:if="${#fields.hasAnyErrors()}" class="card my-2">
                    <div class="card-body text-start text-danger">
                        <ul class="list-unstyled m-0">
                            <li th:each="err : ${#fields.allErrors()}" class="text-start text-danger small">
                                <i class="bi bi-exclamation-circle-fill"></i>
                                <span th:text="${err}"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="name" placeholder="Tag Name" th:field="*{name}" required>
                    <label for="name">Tag Name</label>
                </div>

                <button class="w-100 btn btn-primary" type="submit">Add</button>
            </form>
            <h4 class="text-center my-5" th:if="${#lists.isEmpty(tags)}">No tags yet.</h4>
            <div class="mt-4" th:unless="${#lists.isEmpty(tags)}">
                <h2 class="h3 card-title">Tags:</h2>
                <th:block th:each="tag : ${tags}">
                    <button type="button" class="btn btn-primary mb-2" th:text="${tag.name}"></button>
                </th:block>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="fragments :: footer"></th:block>
