<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments::navbar"></nav>

<div>
    <h1>Tasklists</h1>
    <div th:each="tasklist : ${tasklists}">
        <h2><a th:href="${tasklist.id}" th:text="${tasklist.name}"></a></h2>
        <ul>
            <li th:each="task :${tasklist.getTasks()}">
                <a th:replace="fragments :: displayTaskWithLink"></a> <span th:replace="fragments :: displayRequiredTime"></span>
            </li>
        </ul>
    </div>
</div>

</body>
</html>