<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments::navbar"></nav>
<div class="container">
    <form method="post" action="/tasklist/create">
        <div>
            <label>Tasklist Name:
                <input type="text" name="name">
            </label>
        </div>
        <div>
            <h2>Suggested Tasks</h2>
            <ul th:if="${suggestedTasks}">
                <li th:each="task : ${suggestedTasks}">
                    <label>
                        <input type="checkbox" name="taskIds" th:value="${task.id}">
                        <span th:replace="fragments :: displayTask"></span>
                        <span th:replace="fragments :: displayRequiredTime"></span>
                    </label>
                </li>
            </ul>
            <p th:if="${suggestedTasks} == null">No tasks suggested for your timeframe</p>
        </div>
        <div>
            <h2>All available Tasks</h2>
            <ul th:if="${allTasks}">
                <li th:each="task : ${allTasks}">
                    <label>
                        <input type="checkbox" name="taskIds" th:value="${task.id}">
                        <span th:replace="fragments :: displayTask"></span>
                        <span th:replace="fragments :: displayRequiredTime"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div>
            <button class="btn-primary btn">Submit</button>
        </div>
    </form>
</div>

</body>
</html>