<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments::navbar"></nav>
<section class="align-content-center mt-4">
    <h1 class="text-center" th:text="${title}"></h1>
    <p class="text-center text-success" th:text="${msg}"></p>
    <form method="post" class="container-fluid pt-4">
        <input type="hidden" th:value="${optionFormDTO.userName}" name="userName">
        <input type="hidden" th:value="${optionFormDTO.firstName}" name="firstName">
        <input type="hidden" th:value="${optionFormDTO.lastName}" name="lastName">
        <input type="hidden" th:value="${optionFormDTO.email}" name="email">

        <div class="form-group row justify-content-center">
            <div class="col-sm-4 ">
                <div class="row">
                    <label class="col-3">Password:</label>
                    <input type="password" class="form-control col-9" th:field="${optionFormDTO.pwdHash}">
                </div>
                <span th:errors="${optionFormDTO.pwdHash}" class="row text-danger justify-content-end "></span>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-sm-4 ">
                <div class="row">
                    <label class="col-3">New Password:</label>
                    <input type="password" class="form-control col-9" th:field="${optionFormDTO.newPassword}">
                </div>
                <span th:errors="${optionFormDTO.newPassword}" class="row text-danger justify-content-end "></span>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-sm-4 ">
                <div class="row">
                    <label class="col-4">Repeat Password:</label>
                    <input type="password" class="form-control col-8" th:field="${optionFormDTO.verifyPassword}">
                </div>
                <span th:errors="${optionFormDTO.verifyPassword}" class="row text-danger justify-content-end "></span>
            </div>
        </div>



        <div class="row form-group justify-content-center">
            <input class="btn btn-success" type="submit" value="Change Password"/>
        </div>

    </form>

</section>
</body>
</html>