<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments::navbar"></nav>
<form method="post">
    <label>Task Name:
        <input type="text" th:field="${task.name}">
    </label>
    <p th:errors="${task.name}"></p>
    <label>Time Required (optional):
        <input type="number" min="0" th:field="${task.timeRequired}">
    </label>
    <p th:errors="${task.timeRequired}"></p>
    <div th:if="${#lists.size(tags) > 0}">
        <h3>Tags (optional):</h3>
        <th:block th:each="tag : ${tags}">
            <div class="form-check form-check-inline">
                <input type="checkbox" th:field="${task.tags}" th:value="${tag.id}" class="form-check-input">
                <label class="form-check-label" th:for="${#ids.prev('tags')}" th:text="${tag.name}"></label>
            </div>
        </th:block>
    </div>
    <button>Submit</button>
</form>

</body>
</html>