<th:block th:replace="fragments :: header"></th:block>
<th:block th:insert="fragments::navbar"></th:block>

<main class="app-container">
    <h1 class="display-1 text-center"><th:block th:insert="fragments :: brandLogo"></th:block></h1>
    <h1 class="h1 my-3 fw-bold text-center" th:insert="fragments :: appName"></h1>
    <div class="card my-2 shadow-lg">
        <h2 class="h3 card-header fw-bold text-center" th:text="${title}"></h2>
        <div class="card-body">
            <form method="post" th:object="${task}">
                <div th:if="${#fields.hasAnyErrors()}" class="card my-2">
                    <div class="card-body text-start text-danger">
                        <ul class="list-unstyled m-0">
                            <li th:each="err : ${#fields.allErrors()}" class="text-start text-danger small">
                                <i class="bi bi-exclamation-circle-fill"></i>
                                <span th:text="${err}"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="name" placeholder="Task Name" th:field="*{name}" required>
                    <label for="name">Task Name</label>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="number" class="form-control" id="time" placeholder="Time Required (Optional)" th:field="${task.timeRequired}">
                            <label for="time">Time Required (Optional)</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="date" class="form-control" id="dueDate" placeholder="Due Date (Optional)" th:field="${task.dueDate}">
                            <label for="dueDate">Due Date (Optional)</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-2">
                            <select class="form-select" id="priority" aria-label="Floating label select priority" th:name="priority">
                                <th:block th:each="tp : ${T(org.launchcode.lifeorganizer.models.TaskPriority).values()}">
                                    <option th:value="${tp}" th:text="${tp}" th:selected="${task.priority == tp} ? 'selected'"></option>
                                </th:block>
                            </select>
                            <label for="priority">Priority (optional)</label>
                        </div>
                    </div>
                </div>

                <div th:if="${#lists.size(tags) > 0}" class="p-3">
                    <h3 class="card-title">Tags (optional):</h3>
                    <th:block th:each="tag : ${tags}">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" th:field="${task.tags}" th:value="${tag.id}" class="form-check-input">
                            <label class="form-check-label" th:for="${#ids.prev('tags')}" th:text="${tag.name}"></label>
                        </div>
                    </th:block>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="${btnName}"></button>
            </form>
        </div>
    </div>
</main>

<th:block th:replace="fragments :: footer"></th:block>