<th:block th:replace="fragments :: header"></th:block>
<th:block th:insert="fragments::navbar"></th:block>

<main class="app-container">
    <h1 class="display-1 text-center"><th:block th:insert="fragments :: brandLogo"></th:block></h1>
    <h1 class="h1 my-3 fw-bold text-center" th:insert="fragments :: appName"></h1>
    <div class="card my-2 shadow-lg">
        <h2 class="h3 card-header fw-bold text-center" th:text="${title}"></h2>
        <div class="card-body table-responsive">
            <a class="w-100 btn btn-primary mb-2" th:if="${user.admin}" th:href="@{/admin/default-create}">Create a New Task from Default Tasks</a>
            <table class="table align-middle">
                <caption>List of default tasks</caption>
                <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Estimated Time</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${defaultTasks}">
                    <td scope="row">
                        <span th:replace="fragments :: displayTask"></span>
                    </td>
                    <td><span th:replace="fragments :: displayRequiredTime"></span> minutes</td>
                    <td>
                        <form method="post" action="/tasks/convert-default-task">
                            <input type="hidden" name="id" th:value="${task.id}">
                            <button class="btn btn-success btn-sm d-block w-100"><i class="bi bi-plus-circle"></i> Add to my tasks</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<th:block th:replace="fragments :: footer"></th:block>