body {
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-blend-mode: multiply, multiply;
    background-attachment: fixed;
}
span{
    background-color: darkred;
}